.report {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 250px;
}

.report h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.report h3 {
  font-size: 2em;
  border-radius: 1rem;
  background-color: var(--calc);
  padding: 10px;
  margin: 100px;
}

.report button {
  background-color: var(--primary);
  color: var(--font);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.report button:hover {
  background-color: var(--buton);
}

.leaf img {
  height: 30rem;
  position: absolute;
  right: 0;
  margin-top: -20rem;
  z-index: -1;
}

.leaf2 img {
  height: 30rem;
  position: absolute;
  left: -8rem;
  margin-top: -25rem;
  z-index: -1;
}
