/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 834px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #ffffff;
    width: 40%;
    height: 200vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  /* Hero Section */
  .hero {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .hero-content {
    margin: 0 auto;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 3em;
    line-height: 1;
    text-shadow: 1px 1px 3px rgba(245, 245, 245, 0.5);
  }

  .hero-content h1 span {
    color: var(--buton);
  }

  .hero-content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.5;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(245, 245, 245, 0.5);
  }

  .hero-content .btn {
    margin-top: 2rem;
    display: inline-block;
    padding: 0.6rem 1.5rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--buton);
    border-radius: 5rem;
    box-shadow: 1px 1px 3px rgba(245, 245, 245, 0.5);
  }

  .hero-content .btn:hover {
    background-color: #132f3a;
  }

  .images-1 {
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 100%;
    margin: 20px;
  }

  .lead1 {
    width: 50%;
  }

  .hero {
    min-height: auto;
    padding: 50px 20px;
  }

  .hero-content {
    padding: 4rem 0;
  }

  .hero-content h1 {
    font-size: 2.5em;
  }

  .hero-content p {
    font-size: 1.4rem;
  }

  /* Content Section */
  .content {
    flex-direction: column;
    margin: 10% 10% 20% 10%;
    height: auto;
  }

  .images-2 {
    justify-content: center;
  }

  .images-2 img {
    width: 50%;
  }

  /* Kalkulator Section */
  .calculators {
    display: flex;
    justify-content: center;
    padding: 10%;
    margin: 10%;
  }
  .clc img {
    right: 7rem;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  /* Hero Section */
  .hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 600px;
    width: 100%;
    padding: 100px;
  }

  .hero .hero-content {
    padding: 6rem 2%;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
  }

  .hero .hero-content h1 {
    font-size: 3em;
    line-height: 1;
    text-shadow: 1px 1px 3px rgba(245, 245, 245, 0.5);
  }

  .hero .hero-content h1 span {
    color: var(--buton);
  }

  .hero .hero-content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.5;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(245, 245, 245, 0.5);
  }

  .hero .hero-content .btn {
    margin-top: 2rem;
    display: inline-block;
    padding: 0.6rem 1.5rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--buton);
    border-radius: 5rem;
    box-shadow: 1px 1px 3px rgba(245, 245, 245, 0.5);
  }

  .hero .hero-content .btn:hover {
    background-color: #132f3a;
  }

  .hero {
    min-height: auto;
    padding: 50px 20px;
  }

  .hero .hero-content {
    padding: 4rem 0;
  }

  .hero .hero-content h1 {
    font-size: 2.5em;
  }

  .hero .hero-content p {
    font-size: 1.4rem;
  }

  .images-1 {
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 100%;
    margin: 10px;
  }

  .lead1 {
    width: 50%;
  }

  /* Content Section */
  .content {
    flex-direction: column;
  }

  .images-2 {
    justify-content: center;
  }

  .images-2 img {
    max-width: 50%;
  }

  /* Kalkulator Section */
  .calculators {
    margin: 10px;
    padding-top: 20%;
  }
  .clc img {
    right: 10rem;
  }

  /* Footer Section */
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section ul li {
    font-size: 1.2rem;
    margin: 5px;
  }

  .footer-section ul {
    padding: 10px;
  }

  .logo-social {
    margin-bottom: 25px;
  }

  .about {
    padding: 20% 0;
  }
}
