:root {
  --primary: #33ee22;
  --buton: #318162;
  --bg: #f1f1f1;
  --font: #132f3a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--bg);
  color: var(--font);
  min-height: 2000px;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 8%;
  background-color: rgba(255, 249, 249, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .logo {
  width: 90px;
  height: 30px;
}

.navbar .navbar-nav a {
  color: var(--font);
  display: inline-block;
  font-size: 1.5rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--buton);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: var(--font);
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--buton);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  width: 100% 0;
  background-image: url("/src/public/image/Home-page.png");
  background-position: center;
  object-fit: cover;
  padding: 100px;
}

/* .hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(194, 190, 190, 190) 3%, rgba(247, 241, 241, 0) 25%);
} */

.hero .hero-content {
  padding: 6rem 0.1%;
  max-width: 60rem;
}

.hero .hero-content h1 {
  font-size: 3em;
  line-height: 1;
  text-shadow: 1px 1px 3px rgba(245, 245, 245, 0.5);
}

.hero .hero-content h1 span {
  color: var(--buton);
}

.hero .hero-content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.5;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(245, 245, 245, 0.5);
}

.hero .hero-content .btn {
  margin-top: 2rem;
  display: inline-block;
  padding: 0.6rem 1.5rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--buton);
  border-radius: 5rem;
  box-shadow: 1px 1px 3px rgba(245, 245, 245, 0.5);
}

.hero .hero-content .btn:hover {
  background-color: #132f3a;
}
/* Media Queris */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(245, 245, 245, 0.5);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
